.search-suggestions {
  display: flex;
  padding: 0;
  max-width: 85vw;
  flex-direction: column;
  align-content: center;
  justify-content: center;

  @media screen and (min-width: 640px) {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .search-suggestion {
    background: transparent;
    color: white;
    cursor: pointer;
    border: none;
    list-style: none;
    font-size: 1rem;
    margin: 0.5rem;
    font-weight: 300;
    font-family: var(--font-mono);
    &:focus {
      background: var(--color-fg);
      outline: none;
      color: var(--color-bg);
    }
  }

  .match {
    font-weight: 600;
    border-bottom: 1px solid var(--color-fg);
  }
}
