aside {
  margin-bottom: 500px;
  section {
    h1 {
      margin-bottom: 0;
      font-weight: 700;
      letter-spacing: 0.15rem;
      text-transform: uppercase;
    }

    ul {
      li {
        margin: 0.5rem 0;
        a {
          text-decoration: none;
          font-weight: 300;
          border-bottom: 2px solid var(--color-fg-bright);
        }
      }
    }
  }
}
