nav {
  background-color: hsl(0, 0%, 15%);
  border-top: 1px solid #333;
  bottom: 0;
  color: white;
  display: flex;
  justify-content: space-around;
  position: fixed;
  width: 100vw;
  z-index: 999;
  padding: 12px 12px 24px 12px;

  @supports (
    (-webkit-backdrop-filter: blur(30px)) or (backdrop-filter: blur(30px))
  ) {
    background-color: hsla(0, 0%, 15%, 0.69);
    backdrop-filter: blur(30px);
  }

  a {
    -webkit-tap-highlight-color: transparent;
    text-decoration: none;
    width: 20%;
    &.active {
      color: red;
    }
  }
}

.label {
  display: flex;
  flex-direction: column;
  align-items: center;
  img {
    height: 36px;
  }
}
