@font-face {
    font-family: "iA Writer Duo";
    font-weight: normal;
    font-style: normal;
    src: url("iAWriterDuoS-Regular.woff2") format("woff2");
  }
  
  @font-face {
    font-family: "iA Writer Duo";
    font-weight: normal;
    font-style: italic;
    src: url("iAWriterDuoS-Italic.woff2") format("woff2");
  }
  
  @font-face {
    font-family: "iA Writer Duo";
    font-weight: bold;
    font-style: normal;
    src: url("iAWriterDuoS-Bold.woff2") format("woff2");
  }
  
  @font-face {
    font-family: "iA Writer Duo";
    font-weight: bold;
    font-style: italic;
    src: url("iAWriterDuoS-BoldItalic.woff2") format("woff2");
  }
