:root {
  --color-bg: #111;
  --color-fg: #ccc;
  --color-fg-bright: #fff;

  --font-sans: -apple-system, BlinkMacSystemFont, "Inter var", "Roboto",
    "Helvetica Neue", sans-serif;
  --font-mono: "Iosevka", "SFMono-Regular", Menlo, Monaco, Consolas,
    "Courier New", monospace;
  --font-base-px: 20px;
}

html {
  box-sizing: border-box;
  font-size: var(--font-base-px);
  :focus {
    outline: none;
  }
  ::-moz-focus-inner {
    border: 0;
  }
  ::placeholder {
  }
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background: #0f0f0f;
  color: #ccc;
  margin: 0;
  font-family: var(--font-sans);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

a {
  color: #ccc;
}

code {
  font-family: var(--font-mono);
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  //visibility: hidden;
  input {
    background: transparent;
    //background: white;
    border: 0;
    color: var(--color-fg);
    font-family: var(--font-mono);
    font-size: 6rem;
    font-weight: 200;
    max-width: 95vw;
    position: fixed;
    text-align: center;
    //visibility: hidden;
  }
}

// .center {
//   position: fixed;
//   top: 50%;
//   left: 50%;
//   transform: translate(-50%, -50%);
// }

.visible {
  visibility: visible;
}

.hidden {
  visibility: hidden;
}
