:root {
  --color-bg: #0f0f0f;
  --color-fg: #ccc;
  --color-fg-bright: #fff;

  --font-sans: -apple-system, BlinkMacSystemFont, "Inter var", "Roboto",
    "Helvetica Neue", sans-serif;
  --font-mono: "Iosevka", "SFMono-Regular", Menlo, Monaco, Consolas,
    "Courier New", monospace;
  --font-base-px: 20px;
}

html {
  box-sizing: border-box;
  font-size: var(--font-base-px);
  :focus {
    outline: none;
  }
  ::-moz-focus-inner {
    border: 0;
  }
  ::placeholder {
  }
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background: var(--color-bg);
  color: var(--color-fg);
  margin: 0;
  font-family: var(--font-sans);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  min-height: 85vh;
  @media screen and (min-width: 640px) {
    height: 100vh;
  }
}

a {
  color: #ccc;
}

code {
  font-family: var(--font-mono);
}
