@import url("https://use.typekit.net/cwr6yuv.css");
@import url('https://fonts.googleapis.com/css?family=Roboto:100&display=swap');


:root {
  --color-bg: #0f0f0f;
  --color-fg: #ccc;
  --color-fg-bright: #fff;

  --font-sans: -apple-system, BlinkMacSystemFont, "Roboto",
    "Helvetica Neue", sans-serif;
  --font-mono: "iA Writer Duo", "SFMono-Regular", Menlo, Monaco, Consolas,
    "Courier New", monospace;
  --font-base-px: 20px;
}

html {
  box-sizing: border-box;
  font-size: var(--font-base-px);
  :focus {
    outline: none;
  }
  ::-moz-focus-inner {
    border: 0;
  }

  ::selection {
    background: var(--color-fg);
    color: var(--color-bg);
  }
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background: var(--color-bg);
  color: var(--color-fg);
  margin: 0;
  font-family: var(--font-sans);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: #ccc;
}

code {
  font-family: var(--font-mono);
}

.highlight {
  background: var(--color-fg);
  color: var(--color-bg);
}
